.about_section {
    margin: auto;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darker-bg);
    border-radius: 20px;
    /* box-shadow: 2px 2px 20px rgb(140, 202, 218); */
    padding-bottom: 25px;
    padding-top: 50px;
    margin-bottom: 150px;
  }

.about_section:hover {
    box-shadow: 2px 2px 20px rgb(140, 202, 218);
    /* color: white; */
    transition: .5s;
    cursor: pointer;
}
  
  .about_container {
    color: #fff;
    display: flex;
    padding-left: 50px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
  }
  
  .about_card {
    width: 100%;
    font-size: 0.9rem;
    line-height: 150%;
  }
  
  .about_card h1 {
    padding-bottom: 10px;
    font-size: 1.3rem;
  }
  
  .about_card p {
    font-size: 110%;
  }
  
  .about_card a {
    font-weight: 500;
    color: var(--main-accent);
  }